telegram_n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "24eccda3-279b-4dac-a7d0-bae27f2776ff",
      "name": "Telegram Trigger",
      "webhookId": "4fc7c472-de16-41c7-8756-d47c5131d67e",
      "credentials": {
        "telegramApi": {
          "id": "uVCGLXOMLA21Tpgk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/ask",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": \"{{$json.message.text}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "3b29cf4e-743c-482d-9fc2-6342a93caccd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "908945fb-37ad-4c2d-abe2-b3786466fa3a",
      "name": "Send a text message",
      "webhookId": "606e41f4-f159-4702-b08a-d92ba387f265",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "uVCGLXOMLA21Tpgk",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6c277591-7fdd-4541-a169-72ccbd0dcf5e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f02f33b3cf6d394f04a210ee06c61162e25dd8d742495b22bcea9ecce9058885"
  },
  "nodeGroups": [],
  "id": "jm3yBMlSqzcUnH4g",
  "tags": []
}